/*----------------------TOP NAV HEADER------------------------------------*/
nav{
    position:fixed;
    top:0;
    width:100%;
    border-style:dotted;
    border-color:orange;
    display:flex;
    flex-direction:row;
}
/*----------------------TOP NAV HEADER------------------LEFT------------*/
#portfolioName{
    flex:20;
    display:flex;
    background-color:cadetblue;
    align-items:center;
    font-size:2em;
}
    #portfolioName>a:link{
    text-decoration: none;
}

/*----------------------TOP NAV HEADER------------------MID------------*/
#nav-mid-section{
    flex:50;
    background-color:teal;
    border-style:solid;
    border-style:black;
    display:flex;
    align-items:center;
    justify-content:center;
}
#welcomeMessage{
    display:flex;   /* */
}
#welcomeMessage > p {
    font-size:2em;
    height:100%;
    color:white;
    background-color:yellow;
}
#searchSection{
    display:flex; /* */
    display:none;
    flex-direction:row;
    border-style:dotted;
    border-color:black;
    width:70%;
    height:50%;
}
#searchBar{
    width:95%;
}
.fa-search{
    font-size:1.6em;
}
/*----------------------TOP NAV HEADER------------------RIGHT------------*/
#infoSection{
    flex:30;
    display:flex;
    background-color:coral;
    justify-content: flex-end;
    align-items: flex-start;
}
#infoSection > div{   
    display:flex;
    height:90%;
    width:45%;
    border-style:solid;
    align-items:center;
    justify-content:center;
    font-size:1.5em;
}
#aboutButton{
margin-right:1%;
}/*
#contactButton{
} */
/*----------------------ASIDE BAR--------------------------------------*/
/*This Aside Bar should only have my projets as a catalouge*/
#openingAsideBar{
    top:7rem;
    position:fixed;
    display:flex;
    align-items:center;
    flex-direction:column;
    height:70vh;
    width:20%; 
    border-style:dotted;
}
.asideSection{
    height:26vh;
    width:80%;
    display:flex;
    align-content:center;
    align-items:center;
    flex-direction: column;
    border-color:blue;
    border-style:dotted;
    align-self:flex-start;
    margin-bottom:-50%;
    margin-left:2%;
    transition: 0.5s ease-in-out;
}
.asideSection:hover {
margin-bottom:0%;
flex-direction:column-reverse;
padding:10%;
}

/* .asideSection:hover  header>a{
    CHANGE HEADING STYLE ON HOVER HERE.
} */ 

.asideSection>header{
        color:white;
        font-size:2em;
}

.asideSection>img{
height:0px;
width:0px;

} 
.asideSection:hover img{
  /*CHANGE ASIDE PREVIEW img ON HOVER HERE*/
  position:relative;
  left:auto;
  height:auto;
  width:18rem;
}
.asideSection >content{
    border-color:chartreuse;
    border-style:dotted;
    height:40%;
}
.asideSection>content>p{
font-size:0em;
opacity:1;


}
.asideSection:hover content>p{
font-size:1em;
opacity:1;
}
/*----------------------ASIDE BAR----------------------CONTENT----------*/
#aS-projectCover{
    align-self:center;
    background-color:rgb(230, 185, 157);
}
#aS-projectOne{
    display:flex;
    top:-4em;
    border-color:crimson;
    background-color:rgb(230, 220, 157);
}
#aS-projectTwo{
    top:-4em;
    border-color:crimson;
    background-color:rgb(207, 220, 157);
}
#aS-projectThree{
    top:-4em;
    border-color:crimson;
    background-color:rgb(207, 220, 187);
}
#aS-projectFour{
    top:-4em;
    background-color:rgb(207, 205, 187);
}
#aS-projectFive{
    top:-4em;
    background-color:rgb(179, 181, 187);
}


main{
    background-color:cadetblue;
    width:78.5%;
    border-style:dotted;
    margin-top:7rem;
    margin-left:21%;
}



/*----------------------FOOTER--------------------------------------*/
footer{
    width:100%;
    height:15%;
border-style:dotted;
border-color:black;
}