/*-----------------------------ABOUT ME SECTION --------------------------------------*/

#personalCharacteristics{
    border-style:dotted;
    border-color:white;
    width:35%;
    height:auto;
    display:flex;
}
#personalCharacteristics>div{
    border-style:groove;
    border-color:rgb(218, 226, 185);
    box-shadow: 0.3em 0.3em #666959;
    border-radius:100%;
    border-width:0.1px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    padding:1%;
    position:relative;
    overflow:hidden;
}
#personalCharacteristics>div>p{
    width:80%;
}
#personalCharacteristics>div>h1{
    align-items:center;
}
#aboutMeMiddle{
    background-color:rgb(207, 220, 157);
    align-content:center;
    top:20rem;
    left:45%;
    width:6rem;
    height:6rem;
}
#aboutMe-One{
    background-color:rgb(207, 220, 157);
    left:15%;
    width:10rem;
    height:10rem;
}
#aboutMe-Two{
    background-color:rgb(207, 220, 157);
    left:55%;
    top:-17rem;
    width:10rem;
    height:10rem;

}
#aboutMe-Two>.fa-music{
    position:absolute;
    font-size:10rem;
    opacity:0.2;
   
}
#aboutMe-Three{
    background-color:rgb(207, 220, 157);
    left:60%;
    width:7rem;
    height:7rem;
}
#aboutMe-Three>.fa-biking{
    position:absolute;
    right:-20%;
    font-size:7rem;
    opacity:0.2;
    transform:rotate(-40deg)
}
#aboutMe-Four{
    background-color:rgb(207, 220, 157);
    top:-12rem;
    left:25%;
    width:7rem;
    height:7rem;
}