/*-----------------------------ABOUT ME SECTION --------------------------------------*/

#personalCharacteristics{
    border-style:dotted;
    border-color:white;
    width:100%;
    height:90vh;
    display:flex;
    div{
        border-style:groove;
        border-color:rgb(218, 226, 185);
        box-shadow: 0.3em 0.3em #666959;
        border-radius:100%;
        border-width:0.1px;
        display:flex;
        align-items:center;
        justify-content:center;
        padding:1%;
        position:absolute;
        overflow:hidden;
        p{
            width:80%;
        }
        h1{
            align-items:center;
        }
    }
}
#aboutMeMiddle{
    background-color:rgb(207, 220, 157);
    align-content:center;
    width:6rem;
    height:6rem;
}
#aboutMe-One{
    background-color:rgb(207, 220, 157);
    width:10rem;
    height:10rem;
}
#aboutMe-Two{
    background-color:rgb(207, 220, 157);
    width:10rem;
    height:10rem;
}
#aboutMe-Two>.fa-music{
    position:absolute;
    font-size:10rem;
    opacity:0.2;
}
#aboutMe-Three{
    background-color:rgb(207, 220, 157);
    width:7rem;
    height:7rem;
}
#aboutMe-Three>.fa-biking{
    position:absolute;
    right:-20%;
    font-size:7rem;
    opacity:0.2;
    transform:rotate(-40deg)
}
#aboutMe-Four{
    background-color:rgb(207, 220, 157);
    width:7rem;
    height:7rem;
}